.team-page{
    display: none;
    position: absolute; //On top of icons
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    overflow-x: hidden;

    .team-stats{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        top: 0;
        right: 0;
        height: 33.33%;
        width: 66.66%;
        padding: 15px;
        box-sizing: border-box;
    }

    .player-stats-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: absolute;
        bottom: 0;
        height: 66.66%;
        width: 100%;
        border: 1px solid black;
    }

        .player-stats{
            flex: 1;
            height: 100%;
            box-sizing: border-box;
            border-right: 1px solid black;

            &:last-child{
                border-right: none;
            }

            h4{
                text-align: center;
            }
        }
}