//Styling for icon being clicked. Will move to center of screen over 1 second and get bigger
//by a scale of 3
.enlarged-logo{
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.5);
    z-index: 1000;
    transition: transform 2s ease-in-out, top 2s ease-in-out, left 2s ease-in-out;
}

//Icon will then move to the top left
.move-to-top-left {
    position: fixed;
    top: 40px;
    left: 40px;
    transform: scale(2);
    transition: transform 1s ease-in-out, top 1s ease-in-out, left 1s ease-in-out;
}

//All other icons/text will fade out, should line up with logo going to center
.fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.dissapear{
    opacity: 0;
}